body{
    background: rgb(212, 200, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    height: 100vh;
    font-family: system-ui;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: syatem-ui;
    padding: 20px;
    border: 1px dotted;
    width: fit-content;
    border-radius: 10px;
}

.welcome input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 300px;
    border-radius: 10px;
}

#login{
    padding: 15px;
    height: 50px;
    border: none;
    border-radius: 10px;
    width: 300px;
    font-size: 15px;
    font-weight: bold;
    transition: .3s ease-in;
}

#login:hover{
    background: dodgerblue;
}

.welcome button{
    padding: 15px;
    height: 50px;
    border: none;
    border-radius: 10px;
    width: 300px;
    font-size: 15px;
    font-weight: bold;
    transition: .3s ease-in;
}

.welcome button:hover{
    background: dodgerblue;

}

.welcome h1,h3{
    font-family: system-ui;
} 
footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #eeeeee;
 }


footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: black;
    margin-bottom: 25px;
    font-size: 30px;
}


footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

footer .footer_main .footer_tag i:hover{
    transform: rotate(360deg);
    color: #fac031;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span{
    color: #fac031;
    margin-left: 10px
}



::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-track{
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb{
    background:#fac031;
    border-radius: 15px;
}





 
    




